/* small */
@media only screen and (max-width: 40em){
.WSmallShow {
    display:block;
}

.WSWideShow {
    display:block;
}
}

/* medium */
@media only screen and (min-width: 40.063em){
.WMediumShow {
    display:block;
}
}

/* large */
@media only screen and (min-width: 64.063em){
.WLarge .WLargeShow {
    display:block;
}
}

/* @noflip 
.WLarge .site {
    min-width: 973px;
    max-width: 1092px;
    padding: 0px 2.5% 0;
}*/
@media only screen and max-width: 60em{
/* @noflip */
.WMedium .site {
    min-width: 760px;
    max-width: 972px;
    padding: 0px 2.5% 0;
}
}
/* @noflip */
@media only screen and max-width: 40em{
	.site {
    min-width: 546px;
    max-width: 799px;
    padding: 0px 0 0;
}
}
/* @noflip */
@media only screen and max-width: 40em{
	.site {
    min-width: 200px;
    max-width: 799px;
    padding: 0px 0 0;
} }
/* .WLarge .header .search-rap input {
    width: 140px;	
} */
/* @noflip */
/* .WLarge .header .search-rap {
    clear:none;
    margin-top:-10px;
    width: 155px;
    left: 350px;
} */
/* .WLarge .header .menues .smenu {
    margin-top: -55px;
} */
@media only screen and max-width: 40em{ 
 .rap .content {
    display: block;
}
}
/* @noflip */
@media only screen and max-width: 60em{ 
.rap .content {
    display: block;
    margin: 0;
    font-size: 17px;
    line-height: 23px;	
    padding-left:0;
} }
@media only screen and max-width: 60em{ 
 .top .search.box {
    width: 40%;
} }
/* @noflip */
@media only screen and max-width: 40em{
	.top .search .search-rap input {
    position: relative;
    width: 100%;
    right: 0;
} }

/* @noflip */
@media only screen and max-width: 40em{ .top .search .search-rap .icon {
    position: absolute;
    left: 0;
} }
/* @noflip */
@media only screen and max-width: 40em{
	.top .search.box {
    display: block;
    width: 90%;
    margin: 50px auto 0;
} }
@media only screen and max-width: 40em{
	div.bottom.entry {
    margin-bottom:20px;
} }
@media only screen and max-width: 40em{
	.bottom.entry .box .ibox.plink-box {
    margin: 0 auto;
    display: block;
    float: none;
    max-width: 320px;
    width:auto;
} }
@media only screen and max-width: 40em{
	.bottom.entry .box .ibox {
    width: auto;
    max-width: 100%;
    float: none;
} }
@media only screen and max-width: 40em{
	.bottom.entry .box:last-child {
    border:none;
} }
@media only screen and max-width: 40em{
/* @noflip */
.bottom.entry .box {
    display: block;
    border:none;
    border-bottom:1px solid #9e9e9e;
    padding: 20px 0;
    margin: 20px 5%;
} }
/* @noflip */
@media only screen and max-width: 60em{
	.sidebar .hsidebar {
    position: relative;
    right: 0;
    bottom: auto;
    top: -20px;
} }
@media only screen and max-width: 40em{
	.top .community {
    display: block;
    text-align: center;
    border: 0;
} }
/* @noflip */
@media only screen and max-width: 60em{
.stickyMenu .header.mopened .mmrap.exmenu ,
	.header.mopened .mmrap.exmenu {
    position: relative;
    float: left;
    clear: both;
    margin: 2px 0 0 0;
    left: 1px;
} }
/* @noflip */
@media only screen and max-width: 60em{
.stickyMenu .header.mopened .mmrap ,
.header.mopened .mmrap {
    display:block;
    width: 262px;
    float: left;
    left: 0px;
    margin-left: 5%;
    top: 64px;
	} }
/* @noflip */
.stickyMenu .header.mopened .mmarrow.hide{
    margin:0 5%;
}
/* @noflip */
.stickyMenu .header .mmmrap {
    padding:0 5%;
    margin:0;
    left:-15px;
}
/* @noflip */
.stickyMenu .header.mopened .mmarrow.hide{
    margin:0 2.5%;
}

/* @noflip */
@media only screen and min-width: 60em{ 
.stickyMenu .header .mmmrap {
    padding:0 2.5%;
    margin:0;
    left:-15px;
} }
/* @noflip */
@media only screen and max-width: 60em{
.stickyMenu .header .mmmrap ,
.header .mmmrap {
    position: absolute;
    height: auto;
    left: 0;
    top: 65px;
    left: 0;
    width: auto;
    overflow:auto;
    left: -25px;
    padding:0 5%;
} }
@media only screen and max-width: 60em{
.stickyMenu .header .mmrap ,
 .header .mmrap {
    display: none;
}
}
 @media only screen and max-width: 60em{ 
 .header.mopened .mmrap.menues {
    display:block;
} }
.WMedium .header.mopened span.mmarrow.hide {
    top:27px;
} }
/* @noflip */
@media only screen and max-width: 60em{ 
 .header .mmrap.menues {
    padding-bottom: 0;
    position: absolute;
    left:-15px;
    top: 35px;
    display: none;
} 
}
@media only screen and max-width: 60em{
.stickyMenu .header .menues nav,
.header .menues nav {
    background: #f4f4f4;
} }
/* @noflip */
@media only screen and max-width: 60em{
.stickyMenu .header .menues ,
 .header .menues {
    position: absolute;
    height: auto;
    z-index: 99999;
    width: 260px;
    margin: 0;
    overflow: auto;
    padding: 0;
    right: auto;
    border: 1px solid #a8a8a8;
    /* padding-bottom: 100px; */
} }
@media only screen and max-width: 60em{
 .header .menues nav li.mcurr ,
.WSmall .header .menues nav li.mcurr {
    font-family:Poeti-Bold;
} }
@media only screen and max-width: 60em{
.stickyMenu .header .menues .smenu li .smtlp-rap a,
.stickyMenu .header .menues nav li .smtlp,
.stickyMenu .header .menues nav li a,
 .header .menues .smenu li .smtlp-rap a,
.header .menues nav li .smtlp,
 .header .menues nav li a,
 .header .menues .smenu li .smtlp-rap a,
/* .WSmall .header .menues nav li .smtlp, */
 .header .menues nav li a {
    padding: 15px;
    display:block;
    font-size: 20px;
} }
@media only screen and max-width: 60em{
.stickyMenu .header .menues .smenu li:hover .smtlp-arrow,
.header .menues .smenu li:hover .smtlp-arrow {
    display:none;
}
 .header .menues nav.mmenu li a .icon {
    color:white;
}
@media only screen and max-width: 60em{
/* @noflip */
.stickyMenu .header .menues nav li .smtlp-rap a span.hide ,
.stickyMenu .header .menues nav li .smtlp .hide.icon ,
.stickyMenu .header .menues .mmenu li a:hover span.icon, 
.stickyMenu .header .menues .mmenu li.mcurr a span.icon,
.stickyMenu .header .menues nav li a .icon ,
.header .menues nav li .smtlp-rap a span.hide ,
.header .menues nav li .smtlp .hide.icon ,
.header .menues .mmenu li a:hover span.icon, 
.header .menues .mmenu li.mcurr a span.icon,
.header .menues nav li a .icon
 {
    display: inline-block;
    font-weight: bold;
    font-size: 35px;
    position: absolute;
    left:10px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    text-indent: -7px;
} }
/* @noflip */
@media only screen and max-width: 60em{
.stickyMenu .header .lang a ,
 .header .lang a {
    margin-right: 0;
    width: 33%;
    display: inline-block;
    text-align: center;
    line-height: 50px;	
} }

@media only screen and max-width: 60em{
.stickyMenu .header .menues .mmenu li.wopened,
.stickyMenu .header .menues nav li ,
.header .menues nav li {
    display: block;
    padding:0;
    margin: 0;
    font-size: 20px;
    font-family: Poeti,Roboto;
    border-bottom: 1px solid #a8a8a8;
} }
@media only screen and max-width: 60em{
.stickyMenu .header .menues .smenu ,
 .header .menues .smenu {
    float: none;
    top: auto;
    margin: 0;
} }

@media only screen and max-width: 60em{
/* @noflip */
.stickyMenu .header .aaa,
 .header .aaa{
    display: block;
    float: none;
    margin: 0;
    text-align: center;
    line-height: 48px;
    position: absolute;
    bottom: 3px;
    height: 47px;
    width: 262px;
    top: auto;	
    z-index: 9999;
    margin-left: 5%;
    left: 0px;
    background: #f4f4f4;
} }
/* @noflip */
body.stickyMenu .header .aaa,
body.stickyMenu .header .lang {
    margin-left:0;
}


@media only screen and max-width: 60em{
/* @noflip */
.stickyMenu .header .lang ,
.stickyMenu.WSWide .header .lang ,
 .header .lang {
    display: block;
    position: absolute;
    top: auto;
    bottom: 50px;
    margin: 0;
    width: 262px;	
    border-bottom: 1px solid #a8a8a8;	
    z-index: 9999;
    margin-left: 5%;
    left: 0px;
    background: #f4f4f4;
}
}


@media only screen and max-width: 60em{
 .header .menues .smenu li .smtlp-rap a .icon ,
.stickyMenu .header .menues .smenu li .smtlp-rap a .icon{
    display:none;
} }
@media only screen and max-width: 60em{
 .header .menues .smenu li.topened .smtlp-rap ,
.stickyMenu .header .menues .smenu li.topened .smtlp-rap {
    height:auto;
} }
.header .smenu li.topened .smtlp span.hide.icon {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);	
} }
@media only screen and max-width: 60em{
 .header .menues .smenu li.topened .smtlp ,
.stickyMenu .header .menues .smenu li.topened .smtlp {
    font-family:Poeti-Bold;
} }
@media only screen and max-width: 60em{
 .header .menues .smenu li .smtlp-rap {
    height:0;
    display: block;
    position: relative;
    top: 0;
    border: 0;
    padding: 0;
    overflow: hidden;
    background: #a8a8a8;
} }


@media only screen and max-width: 40em{
 .breadcrumbs {
    display:none;
} }
@media only screen and max-width: 40em{
.header.sopened .search-rap {
    display:block;
} }
@media only screen and max-width: 40em{
 .header .search-rap input {
    height: 60px;
    line-height: 60px;
    font-size: 24px;
    width: 100%;
    right: 0;
    left: 0;
} }
@media only screen and min-width: 60em{
/* @noflip */
.stickyMenu .header.mopened .menues.mmrap {
    margin-left:0;
} }
@media only screen and min-width: 60em{
/* @noflip */
.stickyMenu .header.mopened span.mmarrow.hide{
    margin-left:5%;
} }
@media only screen and max-width: 60em{
/* @noflip */
 .header.mopened span.mmarrow.hide {
    margin-left:2.5%;
} }
@media only screen and max-width: 60em{
.stickyMenu .header.mopened .mmarrow.hide {
    top:57px;
} }
/* @noflip */
@media only screen and max-width: 60em{
.stickyMenu .header.mopened .mmarrow.hide ,
 .header.mopened .mmarrow.hide {
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    background: #f4f4f4;
    border-right: 1px solid #a8a8a8;
    border-top: 1px solid #a8a8a8;
    top: 57px;
    left: 7px;
    margin-left: 5%;
    z-index: 999991;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
} }

.stickyMenu .header .menues .mmenu li.wopened a .arrow,
.stickyMenu .header .menues .mmenu li.wopened a:hover .arrow,
.stickyMenu .header .menues .mmenu li.mcurr.wopened a .arrow,
.stickyMenu .header .menues nav li.wopened .mtlp-rap {
    display: none;
}
/* @noflip */
@media only screen and min-width: 60em{
.stickyMenu .header .search-rap {
    margin-left:6%;
} }
/* @noflip */
.stickyMenu .header .search-rap {
    top: 11px;
    margin-left: 2.5%;
    left: 40px;
    margin-top: 9px;
    width: 295px;	
    position:absolute;
}
@media only screen and max-width: 60em{
 .header.mopened .search-rap {
    display:none;
} }
@media only screen and max-width: 60em{
.stickyMenu .header.mopened .search-rap ,
 .header .search-rap {
    margin-top:10px;
    display:block;
} }

@media only screen and max-width: 60em{
/* @noflip */
 .header .mmrap.exmenu {
    margin-left:40px;
} }

@media only screen and max-width: 40em{
 .header .search-rap input {
    line-height: 40px;
    height: 38px;
    width: 225px;	
    font-size: 24px;
} }
@media only screen and min-width: 60em{
.stickyMenu .header .search-rap input {
    width: 280px;
} }
@media only screen and max-width: 40em{
/* @noflip */
 .header .search-rap {
    position: absolute;
    top: 6px;
    height: 38px;
    left: 40px;
    margin-left: 5%;
    display: block;
    right: auto;
    width: 250px;
    margin-top: 10px;
} }
@media only screen and max-width: 40em{
/* @noflip */
 .header .search-rap {
    position: fixed;
    top: 76px;
    display: none;
    margin: 0;
    height: 60px;
    right: 0;
    left: 0;
    width: 100%;
} }
@media only screen and max-width: 40em{
/* @noflip */
 .header .search-rap span.icon {
    top: 0px;
    left: -1px;
    font-size: 40px;
} }
@media only screen and max-width: 40em{
 .header .search-rap .icon {
    font-size: 50px;
    top: 15px;
    font-family: Poeti;
    font-weight: normal;
	right: 6px;
    opacity: .6;
} }
body.stickyMenu {
    padding-top:152px	
}
@media only screen and max-width: 60em{
body.stickyMenu {
    padding-top:120px	
} }
@media only screen and max-width: 40em{
body {
    padding-top:75px;
} }
@media only screen and max-width: 40em{
 .header .logo img {
    height: 45px;
    margin: 15px 10%;
} }
@media only screen and max-width: 60em{
 .header.mopened .open-menu span:first-child {
    -webkit-transform: rotate(-45deg);
    transform:rotate(-45deg);
} }
@media only screen and max-width: 40em{
 .header.mopened .open-menu span {
    -webkit-transform: rotate(45deg);
    transform:rotate(45deg);
    margin: 0;
    position: absolute;
    top: 10px;
} }
@media only screen and max-width: 60em{
.stickyMenu .header .open-menu span ,
 .header .open-menu span {
    border-bottom: 3px solid;
    width: 100%;
    display: block;
    margin-bottom: 7px;
} }
/* @noflip */
 .header div.open-menu {
    margin-left:0;
}
@media only screen and max-width: 60em{
.header .open-menu {
    margin-top:-5px;
} }
/* @noflip */
@media only screen and max-width: 60em{
.stickyMenu .header .open-menu ,
 .header .open-menu {
    width: 30px;
    height: 30px;
    float: left;
    position: relative;	
    margin-left:5%;
    margin-right:10px;
    margin-top: 24px;
    display:block;
} }
/* @noflip */
@media only screen and max-width: 6em{
 .header .lang {
    margin-left:30px;
} }
/* @noflip */
@media only screen and max-width: 40em{
 .header .open-search {
    float: left;
    font-size: 47px;
    margin-top: 11px;
} }	
@media only screen and max-width: 60em{
 .header {
    height:80px;
} }
@media only screen and max-width: 40em{
 .header {
    top:0;
    padding-top: 0px;
    position: fixed;
    z-index: 99;
    background: white;
    border-bottom: 1px solid;
    height: 75px;
    width:100%;
} }

@media only screen and max-width: 40em{
 footer .fmenu {
    float:none;
} }
@media only screen and max-width: 40em{
 footer .fmenu li a {
    display:block;
    padding:15px 0;
} }
/* @noflip */
@media only screen and max-width: 40em{
 footer .fmenu li {
    display: block;
    width: auto;
    border-bottom: 1px solid white;
    text-align: center;
    font-size: 20px;
    line-height: 23px;
    border-left: 0;
} }

@media only screen and max-width: 60em{
 footer .contact-info span:first-child {
    display:block;
    margin-bottom:10px;
    border:0;
    padding:0;
} }
@media only screen and max-width: 40em{
 footer .social-links a {
    float: none;
    display: inline;
} }
@media only screen and max-width: 40em{
 footer .social-links {
    margin-top:0;
} }
@media only screen and max-width: 40em{
 footer .social-links ,
 footer .contact-info {
    text-align:center;
    float:none;
} }
@media only screen and max-width: 40em{
 footer .bottom {
    border: 0;
    padding-top: 100px;
} }
@media only screen and max-width: 40em{
 footer .stf-credit {
    float: none;
    text-align: center;
    display: block;
} }
@media only screen and max-width: 40em{
 footer .credits {
    position: absolute;
    bottom: -40px;
    width: 100%;
    text-align: center;
} }
/* @noflip */
@media only screen and max-width: 40em{
 footer .logo {
    position: absolute;
    bottom: 70px;
    width: 166px;
    margin: auto;
    right: 0;
    left: 0;
} }	
@media only screen and max-width: 40em{
 footer {
    margin-top:0;
    padding-top:0;
    font-size:17px;
    padding-bottom: 80px;
} }
